{
  "extends": "airbnb-base",
  "rules": {
    "callback-return": [2, ["callback", "next"]],
    "camelcase": [2, { "properties": "always" }],
    "comma-dangle": [1, "never"],
    "max-len": 0,
    "no-unused-expressions": [1, {
      "allowShortCircuit": true,
      "allowTernary": true
    }],
    "react/jsx-space-before-closing": [2, "never"],
    "brace-style": [2, "stroustrup", {
      "allowSingleLine": false
    }],
    "indent": [1, 2, { "SwitchCase": 0 }]
  }
}
