{
  "plugins": [
    "shadow-exception"
  ],
  "rules": {
    "brace-style": [2,
      "stroustrup", {
        "allowSingleLine": false
      }
    ],
    "callback-return": [2, [
      "callback",
      "next"
      ]
    ]
    "camelcase": [2, {
        "properties": "always"
      }
    ],
    "comma-dangle": [0],
    "func-names": [0],
    "no-path-concat": [2],
    "no-var": [1],
    "prefer-const": [2],
    "space-before-function-paren": [2, {
        "anonymous": "always",
        "named": "never"
      }
    ],
    "shadow-exception/no-shadow": [2, {
      "exceptions": {
        "err": true,
        "callback": true
      }
    }],
    "no-shadow": 0
  }
}
